<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="monster-train-packages" value="https://nuget.pkg.github.com/Monster-Train-2-Modding-Group/index.json" />
    <add key="bepinex-packages" value="https://nuget.bepinex.dev/v3/index.json" />
  </packageSources>
</configuration>